<!-- New Customer Section -->
<div class="card" *ngIf="addEditCustomerFlag">
  <div class="header">
    <h4 class="title">
      Add / Edit Customer
    </h4>
  </div>
  <div class="content">
    <!-- Configuration -->
    <div *ngIf="isAdminUser">
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th>Key</th>
              <th>Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input class="form-control" placeholder="Customer Key" [(ngModel)]="inProgressCustomer.key" maxlength="4">
              </td>
              <td>
                <input class="form-control" placeholder="Customer Name" [(ngModel)]="inProgressCustomer.name">
              </td>
              <td>
                <button name="Save" class="btn btn-primary" (click)="saveCustomer()">
                  Save
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="card">
  <div class="header">
    <h4 class="title">
      Customers
    </h4>
  </div>
  <div class="content">
    <!-- Configuration -->
    <div *ngIf="isAdminUser">
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th>Key</th>
              <th>Name</th>
              <th>
                <button name="add" class="btn btn-success" (click)="addEditCustomer()" *ngIf="!addEditCustomerFlag">
                  <i class="fa fa-plus"></i> New Customer
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of customers; let i = index;">
              <td>{{customer.key}}</td>
              <td>{{customer.name}}</td>
              <td>
                <button name="Edit" class="btn btn-light" *ngIf="customer.active">
                  <i class="fa fa-pencil"></i>
                </button>
                <button name="Deactivate" class="btn btn-danger" *ngIf="customer.active" (click)="deactivateCustomer(customer.id)">
                  <i class="pe-7s-close-circle"></i> Deactivate
                </button>
                <button name="Activate" class="btn btn-success" *ngIf="!customer.active" (click)="ActivateCustomer(customer.id)">
                  <i class="pe-7s-check"></i> Activate
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- User -->
    <div *ngIf="!isAdminUser">
      <div class="row">
        User mode
      </div>
    </div>
  </div>
</div>