<div class="card">
  <div class="header">
    <h4 class="title">
      System Settings
    </h4>
  </div>
  <div class="content">
    <div class="accordion" id="accordion">
      <!-- Database Connection -->
      <div>
        <div class="header">
          <h5 class="title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="pe-7s-angle-right-circle"></i> Database Connection
          </h5>
        </div>
        <div id="collapseOne" class="content collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="form-group">
            <Label for="connectionString">Connection String</Label>
            <input type="text" id="connectionString" class="form-control" placeholder="Connection String" />
          </div>
        </div>
      </div>

      <!-- System Values -->
      <div>
        <div class="header">
          <h5 class="title" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
            <i class="pe-7s-angle-right-circle"></i> System Values
          </h5>
        </div>
        <div id="collapseTwo" class="content collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="row">
            <div class="col-md-5">
                <h5>Key</h5>
            </div>
            <div class="col-md-5">
                <h5>Value</h5>
            </div>
            <div class="col-md-2">
              <button class="btn btn-success btn-sm" (click)="addSystemValue()">
                <i class="pe-7s-plus"></i> New Value</button>
            </div>
          </div><br>
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Key" />
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Value" />
              </div>
            </div>
            <div class="col-md-2">
              <button class="btn btn-danger">
                <i class="pe-7s-trash"></i> Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>