<div class="main-content loginForm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="card">
          <div class="header">
            <h4 class="title"></h4>
          </div>
          <div class="content">
            <div class="form-group">
              <label>Username</label>
              <input type="text" class="form-control" placeholder="Username" [(ngModel)]="loginRequest.username">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="Password" [(ngModel)]="loginRequest.password">
            </div>
            <div class="checkbox">
              <input id="adminLogin" type="checkbox" [(ngModel)]="adminPanelLogin">
              <label for="adminLogin">Administrator Login</label>
            </div>
            <button class="btn btn-success btn-fill" (click)="submitLogin()">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>