<div class="card">
  <div class="header">
    <h4 class="title">
      Snag Scrutineer
    </h4>
  </div>
  <div class="content">
    <!-- Configuration -->
    <div *ngIf="isAdminUser">
      <!-- Project Allocation -->
      <!-- Add Project -->
      <div class="row">
        <div class="col-md-12">
          <p>Project Folder</p>
          <!-- <select class="form-control" [(ngModel)]="inProgressFolder.customerId"> -->
          <select class="form-control">
            <option *ngFor="let folder of folders" value="{{folder.id}}">{{folder.name}}</option>
          </select>
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="header">
              <div class="row">
                <div class="col-md-8">
                  <h5 class="title">Project Library</h5>
                  <p class="category">All projects created on the system</p>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-sm btn-success pull-right">
                    Add Project
                    <i class="pe-7s-plus"></i>
                  </button>
                </div>
              </div>

            </div>
            <div class="content">
              <div class="table-full-width">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let folder of folders;">
                      <td *ngIf="!folder.available">
                        <i class="fa fa-info-circle category onHoverHelp" title="{{folder.description}}"></i>
                        {{folder.name}}
                        <button class="btn btn-sm pull-right" (click)="makeAvailable(folder)">Make Available
                          <i class="pe-7s-angle-right-circle"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="header">
              <h5 class="title">Available Projects</h5>
              <p class="category">Projects made available for snag scrutineering</p>
            </div>
            <div class="content">
              <div class="table-full-width">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let folder of folders;">
                      <td *ngIf="folder.available">
                        <i class="fa fa-info-circle category onHoverHelp" title="{{folder.description}}"></i>
                        {{folder.name}}
                        <button class="btn btn-danger btn-sm pull-right" (click)="returnToLibrary(folder)">Remove
                          <i class="pe-7s-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Area Allocation -->
      <div class="card">
        <div class="header">
          <div class="row">
            <div class="col-md-10">
              <h5 class="title">Available Areas</h5>
              <p class="category">Areas within the project available for snag scrutineering</p>
            </div>
            <div class="col-md-2">
              <button class="btn btn-success pull-right">Add Area
                <i class="pe-7s-plus"></i>
              </button>
            </div>
          </div>

        </div>
        <div class="content">
          <div class="row">
            <div class="col-md-11">
              <input type="text" class="form-control" placeholder="Scrutineering Area">
            </div>
            <div class="col-md-1">
              <button class="btn btn-sm btn-danger pull-right">Delete
                <i class="pe-7s-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Email Management -->
      <div class="card">
        <div class="header">
          <div class="row">
            <div class="col-md-12">
              <h5 class="title">Email Receipients</h5>
              <p class="category">Sets the users that will receive the notifications upon submission</p>
            </div>
          </div>
        </div>

        <div class="content">
          <div class="row">
            <div class="col-md-12">
              <input type="email" class="form-control" placeholder="Email Receipient" [(ngModel)]="emailReceipient">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- User -->
    <div *ngIf="!isAdminUser">
      <form>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" *ngIf="!isProjectSelected">
              <label>Select a Project</label>
              <select name="Project" class="form-control" [(ngModel)]="snagList.ProjectID">
                <option *ngFor="let folder of availableFolders" value="{{folder.id}}">{{folder.name}}</option>
              </select>
            </div>

            <div *ngIf="isProjectSelected">
              <p>Project: {{snagList.ProjectID}}</p>
              <div class="form-group">
                <label>Area</label>
                <select name="snagArea" class="form-control" [(ngModel)]="snagArea" required>
                  <option value="Kitchen">Kitchen</option>
                  <option value="Living Room">Living Room</option>
                  <option value="Dining Room">Dining Room</option>
                </select>
              </div>

              <div class="form-group">
                <label>Capture Snag</label>
                <input type="file" (change)="setSnagImage($event)" required>
              </div>

              <div class="form-group">
                <label>Description / Comment</label>
                <textarea name="snagDescription" class="form-control" [(ngModel)]="newSnag.Description" required></textarea>
              </div>

              <button class="btn btn-success" (click)="addToSnagList()">Add to Snag List</button>
              <br>

              <div class="form-group">
                <label>Snag List</label>
                <table class="table table-hover table-striped">
                  <tr>
                    <th>#</th>
                    <th>Date Time</th>
                    <th>Area</th>
                    <th>Description</th>
                    <th>Preview</th>
                    <th>Remove</th>
                  </tr>
                  <tr *ngFor="let snag of snagList.Items">
                    <td>{{snag.ID}}</td>
                    <td>{{snag.DateTime}}</td>
                    <td>{{snag.Area}}</td>
                    <td>{{snag.Description}}</td>
                    <td>
                      <!-- <img src="{{snag.Image}}" style="width: 25%; border: 1px solid black;"/> -->
                    </td>
                    <td>
                      <button class="btn btn-sm btn-danger" (click)="removeSnagItem(snag)">Delete
                        <i class="pe-7s-trash"></i>
                      </button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>

            <button class="btn btn-success" (click)="selectProject()" *ngIf="!isProjectSelected">Start Capture</button>
            <button class="btn btn-default" (click)="cancelAction()">Cancel Capture</button>
            <input type="submit" class="btn btn-primary" (click)="submitSnagList()" *ngIf="isProjectSelected" value="Submit Snag List" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>