<!-- Set Index Fields -->
<div class="card" *ngIf="setIndexFieldsFlag">
  <div class="header">
    <h4 class="title">
      Folder Index Fields
    </h4>
  </div>
  <div class="content">
    <!-- Configuration -->
    <div *ngIf="isAdminUser">
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Data Type</th>
              <th>Default Value</th>
              <th>Min Length</th>
              <th>Max Length</th>
              <th>Min Value</th>
              <th>Max Value</th>
              <th>
                <button class="btn btn-success" (click)="addIndexField()">
                  <i class="fa fa-plus"></i>
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let field of inProgressFolder.fields'>
              <td>
                <!-- Field Name -->
                <input type="text" class="form-control" [(ngModel)]="field.Name">
              </td>
              <td>
                <!-- Field Data Type -->
                <select class="form-control" [(ngModel)]="field.DataType">
                  <option value="checkbox">Checkbox</option>
                  <option value="color">Colour Picker</option>
                  <option value="date">Date Picker</option>
                  <option value="datetime-local">Date Time Picker</option>
                  <option value="email">Email</option>
                  <option value="month">Month Picker</option>
                  <option value="number">Number Field</option>
                  <option value="password">Masked Field</option>
                  <option value="range">Range Slider</option>
                  <option value="text">Text Field</option>
                  <option value="time">Time Picker</option>
                </select>
              </td>
              <td>
                <input type="{{field.DataType}}" class="form-control">
              </td>
              <td>
                <input type="number" class="form-control">
              </td>
              <td>
                <input type="number" class="form-control">
              </td>
              <td>
                <input type="number" class="form-control">
              </td>
              <td>
                <input type="number" class="form-control">
              </td>
              <td>
                <button class="btn btn-danger">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary pull-right" style="margin: 2px;">Save</button>
          <button class="btn btn-danger pull-right" style="margin: 2px;" (click)="cancelSetIndexFields()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- New Folder Section -->
<div class="card" *ngIf="addEditFolderFlag">
  <div class="header">
    <h4 class="title">
      Folder Properties
    </h4>
  </div>
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>Customer</th>
              <th>Name</th>
              <th>Description</th>
              <th>Parent Folder</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <select class="form-control" [(ngModel)]="inProgressFolder.customerId">
                  <option *ngFor="let customer of customers; let i = index;" value="{{customer.id}}">{{customer.name}}</option>
                </select>
              </td>
              <td>
                <input type="text" class="form-control" placeholder="Name" [(ngModel)]="inProgressFolder.name" />
              </td>
              <td>
                <input type="text" class="form-control" placeholder="Description" [(ngModel)]="inProgressFolder.description" />
              </td>
              <td>
                <select class="form-control" [(ngModel)]="inProgressFolder.parentFolderId">
                  <option *ngFor="let folder of folders; let i = index;" value="{{folder.id}}">{{folder.name}}</option>
                </select>
              </td>
              <td>
                <button name="Fields" class="btn btn-primary" (click)="saveFolder()">
                  Save
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="header">
    <h4 class="title">
      Folders
    </h4>
  </div>
  <div class="content">
    <!-- Configuration -->
    <div *ngIf="isAdminUser">
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Parent Folder</th>
              <th>Index Fields</th>
              <th>
                <button name="add" class="btn btn-success" (click)="addEditFolder()" *ngIf="!addEditFolderFlag">
                  <i class="fa fa-plus"></i> New Folder
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let folder of folders; let i = index;">
              <td>{{folder.name}}</td>
              <td>{{folder.description}}</td>
              <td>{{folder.parentFolderID}}</td>
              <td>
                <button name="Fields" class="btn btn-primary" (click)="setIndexFields(folder)">
                  Set/Edit Fields
                </button>
              </td>
              <td>
                <button name="Edit" class="btn btn-light">
                  <i class="fa fa-pencil"></i>
                </button>
                <button name="Delete" class="btn btn-danger" (click)="removeFolder(folder.id)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- User -->
    <div *ngIf="!isAdminUser">
      <div class="row">
        User mode
      </div>
    </div>
  </div>
</div>