<div id="loaderBackdrop" *ngIf="loaderEnabled">
    <div id="loader">
        <img src="assets/img/loader-preview.svg" alt="loading">
    </div>
    <div class="loaderText">
        <h4>Processing, please wait...</h4>
    </div>
</div>

<div class="wrapper">
    <div class="sidebar" data-color="red" data-image="">
        <!-- Left Nav -->
        <INFWF-left-nav-bar></INFWF-left-nav-bar>
        <div class="sidebar-background" style="background-image: url(/assets/img/sidebar-5.jpg)"></div>
    </div>
    <div class="main-panel">
        <INFWF-head-nav-bar></INFWF-head-nav-bar>
        <div class="main-content">
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>