<div class="card">
  <div class="header">
      <h4 class="title">
          Snag Manager
      </h4>
  </div>
  <div class="content">
      <!-- Configuration -->
      <div *ngIf="isAdminUser">
          <div class="row">
              Configuration mode
          </div>
      </div>

      <!-- User -->
      <div *ngIf="!isAdminUser">
          <div class="row">
              User mode
          </div>
      </div>
  </div>
</div>