body{
    background: url('assets/background.png ');
}

.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #e0e0e0 center center no-repeat;
    opacity: .2;
}

.loginForm{
    top: 25%;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#loaderBackdrop{
    background-color: #ffffff;
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.6;
}

.loaderText{
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    -o-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    text-align: center;
    border-radius: 50%;
    /* width: 45px; */
    height: 45px;
    top: 50%; 
    padding-top: 1%;
}

.onHoverHelp:hover{
    cursor: help;
}